
body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;

}
a {
    text-decoration: none;
    color: #585340;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    colour: #8a151b;
}
h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    align: justify-content;
}
p#description {
    width: 700px;
    padding: 0 50px 30px;
    border-bottom: 2px solid #8a151b;
    color: #333333;
    text-align: justify;
}
footer{
    width: 90%;
    margin: 30px auto 15px;
    border-top: 2px solid #8a151b;
    padding-top: 30px;
    font-size: 90%;
    text-align: center;
    color: #333333;
}
footer > p{
    margin: 0;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

ul.navigation li{
    color: #8a151b;
}


div#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div#home > *{
    margin: 10px 0;
}

div.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}