<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<div class="row" style="height: 100px;">
		<h1><a href="/"><strong>Azimeh Gharavi</strong></a></h1>
	</div>
	<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/cv/index.html">CV</a></li>
		<li><a href="/publication/index.html">Publication</a></li>
		<li><a href="/blog/index.html">Blog</a></li>
		<li><a href="/about/index.html">Contact</a></li>
	</ul>
	</nav>
	<div class="container">

		{{ content }}

	</div><!-- /.container -->
	<footer>
	<ul>
		<li><a href="mailto:azimeh.gharavi@gmail.com">email</a></li>
		<li><a href="https://github.com/azigharavi">github.com/azigharavi</a></li>
	</ul>
	</footer>
</body>
</html>
